@import "variables";

.Home {
  min-height: 100vh;
  display:flex;
  flex-direction:column;


  .startBtn{
    z-index: 1;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;

    width: 150px;
    margin: auto;

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);

    backdrop-filter: blur(3px);

    text-transform: capitalize;
    color: #FEFEFE;
    &:hover{
      color: #FEFEFE;
      background: rgba(0, 255, 185, 0.15);
    }
    &:active{
      color: #FEFEFE;
      background: rgba(0, 255, 185, 0.2);
    }
  }
}
